DJANGO_ENV=development
DEBUG=true
SECRET_KEY=troque-esta-chave-em-producao
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

# SQLite local
SQLITE_PATH=db.sqlite3

# PostgreSQL, quando for usar em servidor
# POSTGRES_DB=supermercado
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_CONN_MAX_AGE=60

STATIC_ROOT=staticfiles
MEDIA_ROOT=media
LOG_DIR=logs
LOG_LEVEL=INFO

# Seguranca para producao
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false
SECURE_SSL_REDIRECT=false
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=false
SECURE_HSTS_PRELOAD=false
USE_X_FORWARDED_PROTO=false
# Distribuicao do aplicativo instalado nos caixas
PDV_DESKTOP_VERSION=0.1.0
PDV_DESKTOP_MIN_VERSION=0.1.0
PDV_DESKTOP_INSTALLER_PATH=artifacts/SupermercadoPDV.exe
