{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="login-page">
  <form method="post" class="login-panel no-uppercase-fields">
    {% csrf_token %}
    <h1>Entrar</h1>
    {% if form.errors %}
      <div class="message error">Usuario ou senha invalidos.</div>
    {% endif %}
    <label>
      Usuario
      {{ form.username }}
    </label>
    <label>
      Senha
      {{ form.password }}
    </label>
    <button class="primary-button" type="submit">Acessar</button>
  </form>
</section>
{% endblock %}
