{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="login-page">
  <form method="post" class="login-panel no-uppercase-fields">
    {% csrf_token %}
    <h1>Entrar</h1>
    {% if form.errors %}
      <div class="message error">Usuário ou senha invalidos.</div>
    {% endif %}
    <label>
      Usuário
      {{ form.username }}
    </label>
    <label>
      Senha
      {{ form.password }}
    </label>
    <button class="primary-button" type="submit">Acessar</button>
    <button class="secondary-button auth-button desktop-only" id="desktop-close-application" type="button">
      <i class="fa-solid fa-power-off"></i>
      Fechar aplicativo
      <kbd>Alt+F4</kbd>
    </button>
    <a class="auth-link" href="{% url 'password_reset' %}">Esqueci minha senha</a>
  </form>
</section>
{% endblock %}
