<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Deigo PDV"
    Manufacturer="Deigo Tecnologia"
    Version="__VERSION__"
    UpgradeCode="{34CF953A-E0D8-4D2A-A624-F594095EE92A}"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="Uma versao mais recente do Deigo PDV ja esta instalada." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="DeigoPdvIcon" SourceFile="__ICON__" />
    <Property Id="ARPPRODUCTICON" Value="DeigoPdvIcon" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Deigo PDV" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="PROGRAMMENUDIR" Name="Deigo Varejo" />
    </StandardDirectory>

    <Component Id="MainExecutable" Directory="INSTALLFOLDER" Guid="{E56DC4E8-30EA-45C3-B321-7814C1787D03}">
      <File Id="DeigoPDVExe" Source="__SOURCE__" KeyPath="yes">
        <Shortcut
          Id="ProgramMenuShortcut"
          Directory="PROGRAMMENUDIR"
          Name="Deigo PDV"
          Description="PDV operacional do supermercado"
          WorkingDirectory="INSTALLFOLDER"
          Icon="DeigoPdvIcon"
          Advertise="no" />
        <Shortcut
          Id="DesktopShortcut"
          Directory="DesktopFolder"
          Name="Deigo PDV"
          Description="PDV operacional do supermercado"
          WorkingDirectory="INSTALLFOLDER"
          Icon="DeigoPdvIcon"
          Advertise="no" />
      </File>
      <RemoveFolder Id="RemoveProgramMenuFolder" Directory="PROGRAMMENUDIR" On="uninstall" />
    </Component>

    <Feature Id="MainFeature" Title="Deigo PDV" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Package>
</Wix>
